*.log
alexa_shopping_list_scraper/rootfs/app/env.example
alexa_shopping_list_scraper/rootfs/app/.env
alexa_shopping_list_scraper/rootfs/app/chrome_profile_dev/
alexa_shopping_list_scraper/rootfs/app/venv/
alexa_shopping_list_scraper/rootfs/app/list_of_items.json
alexa_shopping_list_scraper/rootfs/app/amazon_cookies_dev.json
__pycache__/
*.pyc
*.pyo